# --- DISCORD ---
DISCORD_TOKEN=token_discord
DISCORD_CLIENT_ID=id_client_app_discord

# --- INFRAESTRUCTURA (Para Docker) ---
# Nota: Si pruebas fuera de docker, usa 'localhost'
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=yourpassword

LAVALINK_HOST=lavalink
LAVALINK_PORT=2333
LAVALINK_PASSWORD=password_lavalink

# --- APP SETTINGS ---
#production -> update commanmds
NODE_ENV=development | production 
SERVER_HOST=localhost
SERVER_PORT=3000